@media (max-width: 1200px) {
  #header {
    .navbar {

    }
  }
  #best {
    .best {
      .best__block {
        flex-wrap: wrap;
        margin-top: 100px;
        padding: 0 50px;
        text-align: center;
      }
      .best__general {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }



      .best__btn {
        margin-left: 450px;
        padding: 15px 15px;
      }
    }
  }
}

#footer {
  .footer {
    .footer__block--list {
      margin-left: 200px;
    }
  }
}


@media (max-width: 1024px) {
  .container {
    width: 90%;
  }

  #header {
    .navbar {

    }
  }
  #best {
    .best {
      .best__btn {
        margin-left: 350px;
        padding: 15px 15px;
      }
    }
  }
  #footer {
    .footer {
      .footer__block {
        .footer__block--list {
          margin-left: 150px;
          margin-bottom: 50px;
        }
      }

    }
  }


}

@media (max-width: 992px) {
  .container {
    width: 90%;
  }
}


@media (max-width: 768px) {
  #header {
    .navbar {
      &__menu {
        display: none;

      }
    }
  }

  #hero {
    .hero {
      flex-direction: column;

      .hero__theme {
        margin-top: 235px;
      }

      .hero__text {
        margin-top: -80px;
      }

      .hero__text--btn {
        margin-bottom: 80px;
      }
    }
  }
  #hero {
    .hero {
      &__them {
        margin-top: -150px;

        &__theme {
        }
      }

      .hero__text--btn {
        padding: 10px 15px;
        margin-bottom: 150px;
      }

      .hero__text {

        margin-top: 100px;

        &--subtitle {
          font-size: 55px;
        }
      }
    }
  }
  #best {
    .best {
      .best__btn {
        margin-left: 370px;
        padding: 15px 15px;
      }

      &__general {
        &__block {
          padding: 0 50px;
        }
      }
    }
  }
  #object {
    .object {
      margin-top: 100px;
    }
  }
  #footer {
    .footer {
      .footer__block {
        .footer__block--list {
          margin-left: 150px;
          margin-bottom: 50px;
        }
      }
    }

  }
  #best {
    .best {
      .best__btn {
        margin-left: 250px;
        padding: 15px 15px;
      }
    }
  }
  #as {
    .as {
      .as__block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .as__block--item {
        margin-top: 50px;
      }

      .as__btn {
        margin: 25px 275px;
        padding: 15px 20px;
      }
    }
  }
  #square {
    .square {
      .square__block {
        display: flex;
        flex-direction: column;
        align-items: center;

        .square__block--item {

        }
      }

    }
  }
  #object {
    .object {
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      margin-top: 50px;
    }
  }
  #short {
    .short {
      .short__images {
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .short__images--img {
        margin-top: 50px;
        width: 450px;
      }

    }
  }
  #footer {
    .footer {
      .footer__block {
        .footer__block--list {
          margin-left: 42px;
          margin-bottom: 50px;
        }
      }

    }
  }
}


@media (max-width: 576px) {


}


@media (max-width: 414px) {

}

@media (max-width: 375px) {

}

@media (max-width: 320px) {

}

